:root {
    --main-ColorUno: #7AE582;
    --main-ColorDos: #25A18E;
    --main-ColorTres: #00A5CF;
    --main-ColorCuatro: #004E64;
    --main-ColorCinco: #9FFFCB;


    --colorP1: #000247;
    --colorP2: #000ab0;
    --colorP3: #0015e4;
    --colorP4: #0017ff;
    --colorP5: #0017ff;
    --colorP6: #132eff;
    --colorP7: #3e66ff;
    --colorP8: #74a1ff;
    --colorP9: #a8c7ff;
    --colorP10: #cfe1ff;
    --colorP11: #e4efff;
}

/* DOM */

.confirmaLoad {
    background-image: url(Sources/imagenMedellin.jpg);
    background-position: 0px -200px;
    background-repeat: no-repeat;
    background-color: var(--main-ColorCuatro);
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;

    transition: opacity 1s ease;
    opacity: 1;
}

.confirmaLoad.oculto {
    opacity: 0;
}

.nombrePagLoad {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px;
    height: 10%;
    font-size: 30px;
    font-family: "Playwrite AU QLD", cursive;
}

.logoUNAL {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin: 20px 50px 0 0;
    width: 50px;
    filter: grayscale();
}

.descPagLoad {
    margin: 200px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
    font-size: 3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: black 1px 1px 3px;
    color: white;
}

.descPagLoad:hover, .nombrePagLoad:hover {
    cursor:default;
}

.buttonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: black 0px 3px 5px;
    color:white;
    background-color: rgb(0, 78, 100, 80%);
}

.buttonLoad:hover {
    cursor: pointer;
}

/* HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--main-ColorTres);
}

.navegadorMain {
    display: flex;
    flex-direction: row;
    background-color: var(--colorP11);
    width: 100%;
    height: 9vh;
}

.navegador__Title {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--colorP2);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.navegador__Lista {
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    justify-content: end;
    margin-right: 100px;
    align-items: center;
    width: 70%;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.navegador__Link {
    text-decoration: none;
    color: var(--colorP2);
}

.divMainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 475px;
}
.divMainImage img {
    overflow: hidden;
}

.sectionInfo {
    width: 100%;

    background-color: white;
    display: flex;
    flex-flow: row nowrap;
}

.sectionInfo__Title {
    margin: 50px 0 0 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: var(--colorP1);
}

.sectionInfo__P {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px 0 0 50px;
    color: var(--colorP1);
}

.divInf {
    width: 50%;
    height: 500px;
}

.sectionInfo__P {

}

.sectionComunas {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--main-ColorTres);
    height: 1000px;
    border-bottom: 5px solid var(--main-ColorCinco);
}

.sectionComunas__Title {
    padding: 20px;
    display: flex;
    align-items: end;
    height: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 50px;
    border-bottom: 1px solid var(--main-ColorCuatro);
}

.sectionComunas__P {
    padding: 20px;
    height: 90%;
    align-items: start;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.sectionResultados {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--main-ColorTres);
    height: 500px;
    border-bottom: 5px solid var(--main-ColorCinco);
}

.sectionResultados__Title {
    padding: 20px;
    display: flex;
    align-items: end;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 50px;
    border-bottom: 1px solid var(--main-ColorCuatro);
}

.sectionResultados__P {
    padding: 20px;
    height: 80%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encuestaMain {
    height: 700px;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 5px solid var(--main-ColorCinco);
}

.encuestaMain__Form {
    background-color: #DB5461;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
}

.encuestaMain__Title {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    height: 50px;
    background-color: #0fc7a8;
}

/* Encuesta Nombre */
.encuestaMain__DivNombre {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: blue;
    font-size: 20px;
}

.inputNombre__Label {

}
.form__InputNombre {

}


/* Encuesta fecha de nacimiento */
.encuestaMain__DivFNacimiento {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: rgb(187, 24, 79);
}

.fNacimiento__Label {

}

.form__FNacimiento {

}


/* Encuesta Orientacion Sexual */
.encuestaMain__DivSexo {
    padding: 0 50px 0 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 150px;
    background-color: rgb(192, 80, 5);
}

.form__OSexual {

}

.osexual__Masc {

}
.osexual__Fem {

}

.osexual__NoEspecifica {

}


/* Encuesta Nivel de estudio */
.encuestaMain__DivEstudios {
    padding: 0 50px 0 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 250px;
    background-color: rgb(20, 155, 76);
}

.form__NivelEstudio {

}

.edInicial {

}

.nivelEstudio__Inicial {

}

.edPreescolar {

}

.nivelEstudio__Preescolar {

}

.edBasica {

}

.nivelEstudio__Basica {

}

.edMedia {

}

.nivelEstudio__Media {

}

.edPregrado {

}

.nivelEstudio__Pregado {

}

.edPosgrado {

}

.nivelEstudio__Posgrado {

}


/* Encuesta sector economico */
.encuestaMain__DivSecEconomico {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: rgb(204, 170, 21);
}

.sectorEconomico__Label {

}

.sectorEconomicoform__Input {

}


/* Encuesta comuna donde trabaja */
.encuestaMain__DivComTrabaja {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: rgb(196, 33, 196);
}

.comunaTrabaja__Label {

}

.form__ComunaTrabaja {

}


/* Comuna donde Vive */
.encuestaMain__DivComVive {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: rgb(11, 141, 76);
}

.comunaVive__Label {

}

.form__ComunaVive {

}

/* encuesta Comentarios */
.encuestaMain__DivComentarios {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;
    background-color: rgb(11, 11, 71);
}

.comentarios__Label {

}

.form__Comentarios {

}

/* Boton enviar Form */

.form__Enviar {

}


/* Footer */

.footerMain {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
}

.footerMain__Title {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.footer__Lista {
    display: flex;
    width: 50%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    font-family: "Playwrite AU QLD", cursive;
    border-radius: 100px 0 0 100px;
    box-shadow: -2px 0px 5px black;
}

