:root {
    --main-ColorUno: #7AE582;
    --main-ColorDos: #25A18E;
    --main-ColorTres: #00A5CF;
    --main-ColorCuatro: #004E64;
    --main-ColorCinco: #9FFFCB;


    --colorP1: #000247;
    --colorP2: #000ab0;
    --colorP3: #0015e4;
    --colorP4: #0017ff;
    --colorP5: #0017ff;
    --colorP6: #132eff;
    --colorP7: #3e66ff;
    --colorP8: #74a1ff;
    --colorP9: #a8c7ff;
    --colorP10: #cfe1ff;
    --colorP11: #e4efff;


    --bg: var(--colorP10);
    --text: var(--colorP2);
    --nav-bg: var(--colorP10);
    --nav-text: var(--colorP2);
}

.modo-dark {
    --foto: #444581;
    --bg: #02001b;
    --text: var(--colorP11);
    --nav-bg:  #010011;
    --nav-text: var(--colorP11);
}

/* DOM */

.confirmaLoad {
    background-image: url(Sources/imagenMedellin.jpg);
    background-position: 0px -200px;
    background-repeat: no-repeat;
    background-color: var(--main-ColorCuatro);
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;

    transition: opacity 1s ease;
    opacity: 1;
}

.confirmaLoad.oculto {
    opacity: 0;
}

.nombrePagLoad {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 10%;
    font-size: 30px;
    margin: 250px 0 0 0;
    font-family: "Playwrite AU QLD", cursive;
}

.logoUNAL {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin: 20px 50px 0 0;
    width: 50px;
    filter: grayscale();
}

.descPagLoad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30%;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: black 1px 1px 3px;
    color: white;
}

.descPagLoad:hover, .nombrePagLoad:hover {
    cursor:default;
}

.buttonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: black 0px 3px 5px;
    color:white;
    background-color: rgb(0, 78, 100, 80%);
}

.buttonLoad:hover {
    cursor: pointer;
}

/* HTML */

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.4s ease, color 0.4s ease;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bg);
    color: var(--text);
}

.navegadorMain {
    background-color: var(--nav-bg);
    color: var(--nav-text);
    position:fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9vh;
}

.navegador__Title {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.navegador__Lista {
    display: flex;
    flex-flow: row nowrap;
    gap: 5%;
    justify-content: end;
    margin-right: 100px;
    align-items: center;
    width: 70%;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.navegador__Link {
    color: var(--nav-text);
    text-decoration: none;
    position: relative;
}

.navegador__Link:hover::after {
    transform: scaleX(1);
}

.navegador__Link:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: var(--colorP7);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.switch__Off {
    background-image: url(Sources/switch__Off.png);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
}

.switch__On {
    background-image: url(Sources/switch__On.png);
    filter: invert();
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
}


.divMainImage {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 475px;
}
.divMainImage img {
    overflow: hidden;
    height: 500px;
}

.sectionInfo {
    width: 100%;
    height: 500px;
    background-image: url(Sources/imagenMedellin.jpg);
    background-color: var(--foto);
    background-blend-mode:hard-light;
    background-repeat: no-repeat;
    background-position: 0px -250px;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 80px;
}

.sectionInfo__Title {
    margin: 50px 0 0 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.sectionInfo__P {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px 0 0 50px;
    
}

.div__Inf {
    width: 50%;
    height: 500px;
}


.sectionComunas {
    display: flex;
    flex-flow: row nowrap;
    height: 800px;
    width: 100%;
}

.comunas__Div, .comunas__Div2 {
    width: 50%;
}

.sectionComunas__Title {
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 50px;
}

.sectionComunas__P {
    padding: 20px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sectionGraficos {
    display: flex;
    flex-flow: row nowrap;
    height: 800px;
}

.graficos__Div, .graficos__Div2 {
    width: 50%;
}

.sectionGraficos__Title {
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 50px;
}


.sectionGraficos__P {
    padding: 20px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sectionextraMain {
    display: flex;
    flex-flow: row nowrap;
    height: 800px;
}

.extraMain__Div, .extraMain__Div2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extraMain__Title {
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 50px;
}

.extraMain__P {
    padding: 20px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#extraMain__Embedded {
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

.extraMain__Form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    padding: 100px;
    
}

.form__Label {
    margin-left: 125px;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form__InputName, #form__InputEmail {
    width: 500px;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    border-style: none;
    border: var(--colorP9) 1px solid;
    padding: 10px;
}

#form__InputComments {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: none;
    border: var(--colorP9) 1px solid;
    padding: 10px;
    resize: none;
}

#form__Submit {
    color: var(--colorP11);
    background-color: var(--colorP6);
    width: 500px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-style: none;
    border: var(--colorP9) 1px solid;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: none;
}

footer {
    background-color: var(--colorP1);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.footer__Title {
    width: 30%;
    height: 100%;
    font-size: 40px;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--colorP2);
    color: var(--colorP7);
}

.footer__ElementosDiv {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;

}

.footer__List {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    margin: 0 0 0 20px;

}

.footer__Element {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--colorP7);
}

.redes__Img {
    margin: 10px 5px 0 5px;
    width: 30px;
    filter:invert()

}